.section33 { padding: 80px 0 60px 0; background-color: #e8e8e8; }

.section33 .list li { float: left; width: 397px; height: 620px; margin-left: 42px; background-color: #1e1e1e; }

.section33 .list li:first-child { margin-left: 0; }

.section33 .list li:hover img { -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

.section33 .list .img { height: 278px; overflow: hidden; }

.section33 .list .img img { display: block; width: 100%; height: 100%; }

.section33 .list .btm { padding: 30px; }

.section33 .list h3 { font-size: 22px; color: #fff; margin-bottom: 20px; }

.section33 .list .txt1 { font-size: 14px; margin-bottom: 15px; color: #fff; }

.section33 .list .txt2 { font-size: 12px; line-height: 22px; color: #6b6b6b; }

.section33 .list .li2 { background-color: #533c8f; }
ul, li, ol { list-style: none; line-height: normal; }

#banner {
    margin-bottom:-10px
}
#carousel {
    position:relative;
    z-index:2;
    margin-top:20px;
    transform-style:preserve-3d;
    perspective:800px
}
#carousel img {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-252px;
    transition:transform .5s ease-in-out;
    box-shadow:8px 8px 20px rgba(0,0,0,.2);
    cursor:pointer
}
#bannerNav {
    position:relative;
    margin-top:20px;
    height:10px;
    padding:10px 0;
    text-align:center;
}
#bannerNav ul li {
    cursor:pointer;
    overflow:hidden;
    display:inline-block;
    width:22px;
    margin:0 2px
}
#bannerNav ul li a {
    margin:0 auto;
    display:block;
    width:6px;
    height:6px;
    vertical-align:top;
    border-radius:3px;
    background:#5e6671;
    font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
    background:#00aeff
}
#bannerNav ul li.on a {
    width:20px
}

#carousel {
    height:400px
}
#carousel img {
    width:500px;
    border-radius: 10px;
    opacity: 0;
}
.video_div{
    width: 1280px;
    margin-top: 5%;
    background: white;
    margin-bottom: 36px;
    letter-spacing: 3px;
    line-height: 27px;
}

.video_text{
    width: 294px;
    float: left;
    height: 344px;
    color: rgb(169, 169, 169);
}
.video_text_one{
    width: 348px;
    float: left;
    height: 200px;
    color: rgb(169, 169, 169);
    /* margin-left: 49px; */
    margin: 43px 0px 0px 184px;
}
.ppjm-1 div{
	width: 350px;
	height: 220px;
	background: #4F4287;
	float: left;
	border-radius: 20px;
}
.ppjm-1 div div{
	width: 100%;
	height: 65px;
	text-align: center;
	font-weight: bolder;
	color: #FBCB3F;
	line-height: 95px;
}
.ppjm-1 div p{
	margin-top:80px;
	width: 80%;
	margin-left: 10%;
	height: 125px;
	text-align: center;
	font-weight: bolder;
	color: white;
	font-size: 14px;
}
#table{
    /*相邻边框被合并*/
    border-collapse:collapse;
    width: 400px;
    height: 326px;
    margin: 0 auto;
    text-align: center;
    color: gray;
}
#table td{
        width: 311px;
        height: 49px;
        text-align: right;
}
#table tr{
    width: 200px;
}
#ytable{
    /*相邻边框被合并*/
    border-collapse: collapse;
    width: 1254px;
    height: 400px;
    border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    color: gray;
}
#ytable td{
    border:1px solid gray;
}
#ytable tr{
    border:1px solid gray;
    height: 32px;
}
.boxone1{
	width: 200px;
	line-height: 86px;
	font-size: 28px;
	height:  86px;
	float: left;
	color: white;
	background-color: rgb(82,61,149,0.6);
	text-align: center;
}
.boxone1:hover{
	background-color: #523d95;
}



.div_pic {
    width:900px;
    height:450px;
    margin:60px auto;
}
.p {
    /*内边距*/
    padding:10px 10px 10px;
    background:white;
    /*背景*/
    /*左移，下移，虚化*/
    box-shadow:5px 5px 4px rgba(50,50,50,0.5);
    width:150px;
    /*相对定位*/
    position:relative;
}
/*每张图片倾斜角度*/
.p1 {
    transform:rotate(-5deg);
}
.p2 {
    transform:rotate(9deg);
}
.p3 {
    transform:rotate(14deg);
}
.p1 {
    transform:rotate(2deg);
}
.p4 {
    transform:rotate(-3deg);
}
.p5 {
    transform:rotate(8deg);
}
.p6 {
    transform:rotate(2deg);
}
.p7 {
    transform:rotate(-1deg);
}
.p8 {
    transform:rotate(1deg);
}
.p9 {
    transform:rotate(-5deg);
}
.div_pic img:hover {
    /*旋转角度变回0*/
    transform:rotate(0deg) scale(2.0);
    z-index:9;
}



















.section32 { padding: 112px 0; }

.section32 .box .item { height: 427px; float: left; width: 33.33%; overflow: hidden; }

.section32 .box .item:hover img { -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

.section32 .box img { display: block; width: 100%; height: 100%; }

.section32 .box .item2, .section32 .box .item3 { width: 66.66%; }

.section32 .box .item1, .section32 .box .item10 { background-color: #1e1e1e; padding: 50px 30px; }

.section32 .box .item1 h3, .section32 .box .item1 .txt1, .section32 .box .item10 h3, .section32 .box .item10 .txt1 { color: #fff; }

.section32 .box .item1 .con, .section32 .box .item10 .con { color: #6b6b6b; }

.section32 .box .item22, .section32 .box .item3 { width: 66.66%; }

.section32 .box .item11, .section32 .box .item10 { background-color: #1e1e1e; padding: 50px 30px; }

.section32 .box .item11 h3, .section32 .box .item11 .txt1, .section32 .box .item10 h3, .section32 .box .item10 .txt1 { color: #fff; }

.section32 .box .item11 .con, .section32 .box .item10 .con { color: #6b6b6b; }

.section32 .box .item4, .section32 .box .item8 { background-color: #ebebeb; padding: 50px 30px; }

.section32 .box .item4 h3, .section32 .box .item4 .txt1, .section32 .box .item8 h3, .section32 .box .item8 .txt1 { color: #1e1e1e; }

.section32 .box .item4 .con, .section32 .box .item8 .con { color: #909090; }

.section32 .box .item6 { background-color: #1e1e1e; padding: 50px 30px; }

.section32 .box .item6 h3, .section32 .box .item6 .txt1 { color: #fff; }

.section32 .box .item6 .con { color: #fff; }

.section32 .box h3 { font-size: 24px; margin-bottom: 20px; }

.section32 .box .txt1 { font-size: 14px; margin-bottom: 50px; }

.section32 .box .con { font-size: 12px; line-height: 24px; text-align: justify; }

.g-title { position: relative; padding-bottom: 36px; margin-bottom: 70px; }

.g-title h2 { font-size: 36px; height: 34px; }

.g-title span { font-size: 16px; margin-left: 10px; position: relative; top: -2px; }

.g-title:after { content: ""; width: 40px; height: 7px; background-color: #533c8f; position: absolute; left: 0; bottom: 0; }

.g-list .txt1 { font-size: 14px; margin-bottom: 15px; color: #fff; }

.g-list .txt2 { font-size: 12px; line-height: 22px; color: #6b6b6b; }


.purple { color: #533c8f; }

.blue { color: #00aaee; }

.gray { color: #b9bcc7; }

.red { color: #fc4444; }

.orange { color: #ff7802; }

html { font-family: "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "黑体", Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

article, aside, details, figcacption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; text-decoration: none; color: #231815; }

a:active, a:hover, a:focus { outline: 0; text-decoration: none; color: #533c8f; }

abbr[title] { border-bottom: 1px dotted; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

body,div,address, blockquote, iframe, .list, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, a, pre,caption, form, legend, fieldset, input, select, textarea, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, nav, section, source, video, time { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: justify; }

body { color: #231815; background: #fff; font: 8px; overflow-x: hidden; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

body { min-width: 1280px; }

html, body { min-height: 100%; }

a, img, input[type=text], input[type=submit], input[type=password], textarea, select, footer, header, time, span, em, i { -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

.g-main .box, .side-menu li, .g-list, header .content, footer .content, .section31 .list, .section32 .box, .section33 .list, .section34 .list, .cf { *zoom: 1; }

.g-main .box:before, .side-menu li:before, .g-list:before, header .content:before, footer .content:before, .section31 .list:before, .section32 .box:before, .section33 .list:before, .section34 .list:before, .g-main .box:after, .side-menu li:after, .g-list:after, header .content:after, footer .content:after, .section31 .list:after, .section32 .box:after, .section33 .list:after, .section34 .list:after, .cf:before, .cf:after { content: ""; display: table; }

.g-main .box:after, .side-menu li:after, .g-list:after, header .content:after, footer .content:after, .section31 .list:after, .section32 .box:after, .section33 .list:after, .section34 .list:after, .cf:after { clear: both; }

input[type=text], input[type=password], select, textarea { border: #231815 1px solid; outline: none; }

input:hover[type=text], input:hover[type=password], select:hover, textarea:hover, input:focus[type=text], input:focus[type=password], select:focus, textarea:focus { border-color: #533c8f; }

.left, .right { float: left; }

.show { display: block !important; }

.content { width: 1280px; margin-left: auto; margin-right: auto; }

.content { width: 1280px; margin-left: auto; margin-right: auto; }

.ydxy-1 { width:1920px;  }
@media screen and (min-width: 2040px)
{
.ydxy-1 { width:2040px; }
}
@media screen and (max-width: 1000px)
{
.ydxy-1 { width:1480px; }
}
.cgzx-1 { width:1920px;  }
@media screen and (min-width: 2040px)
{
.cgzx-1 { width:2040px; }
}
@media screen and (max-width: 1000px)
{
.cgzx-1 { width:1480px; }
}

