.section33 { padding: 80px 0 60px 0; background-color: #e8e8e8; }

.section33 .list li { float: left; width: 397px; height: 620px; margin-left: 42px; background-color: #1e1e1e; }

.section33 .list li:first-child { margin-left: 0; }

.section33 .list li:hover img { -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

.section33 .list .img { height: 278px; overflow: hidden; }

.section33 .list .img img { display: block; width: 100%; height: 100%; }

.section33 .list .btm { padding: 30px; }

.section33 .list h3 { font-size: 22px; color: #fff; margin-bottom: 20px; }

.section33 .list .txt1 { font-size: 14px; margin-bottom: 15px; color: #fff; }

.section33 .list .txt2 { font-size: 12px; line-height: 22px; color: #6b6b6b; }

.section33 .list .li2 { background-color: #533c8f; }
ul, li, ol { list-style: none; line-height: normal; }

#banner {
    margin-bottom:-10px
}
#carousel {
    position:relative;
    z-index:2;
    margin-top:20px;
    transform-style:preserve-3d;
    perspective:800px
}
#carousel img {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-252px;
    transition:transform .5s ease-in-out;
    box-shadow:8px 8px 20px rgba(0,0,0,.2);
    cursor:pointer
}
#bannerNav {
    position:relative;
    margin-top:20px;
    height:10px;
    padding:10px 0;
    text-align:center;
}
#bannerNav ul li {
    cursor:pointer;
    overflow:hidden;
    display:inline-block;
    width:22px;
    margin:0 2px
}
#bannerNav ul li a {
    margin:0 auto;
    display:block;
    width:6px;
    height:6px;
    vertical-align:top;
    border-radius:3px;
    background:#5e6671;
    font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
    background:#00aeff
}
#bannerNav ul li.on a {
    width:20px
}

#carousel {
    height:400px
}
#carousel img {
    width:500px;
    border-radius: 10px;
    opacity: 0;
}
.video_div{
    width: 100%;
    height: 794px;
    margin-top: 5%;
    background: white;
    margin-bottom: 36px;
    letter-spacing: 3px;
    line-height: 27px;
}
.video_div .video-bg{
    width: 64%;
    float: left;
}
.video_text{
    width: 348px;
    float: left;
    height: 344px;
    color: gray;
    font-family: 幼圆;
    margin: 116px 23px 0px 89px;
}
.video_text_one{
    width: 348px;
    float: left;
    height: 200px;
    color: gray;
    /* margin-left: 49px; */
    font-family: 幼圆;
    margin: 43px 0px 0px 184px;
}
.ppjm-1 div{
	width: 426px;
	height: 220px;
	background: #4F4287;
	float: left;
	border-radius: 20px;
}
.ppjm-1 div div{
	width: 100%;
	height: 65px;
	text-align: center;
	font-weight: bolder;
	color: #FBCB3F;
	line-height: 95px;
}
.ppjm-1 div p{
	margin-top:80px;
	width: 80%;
	margin-left: 10%;
	height: 125px;
	text-align: center;
	font-weight: bolder;
	color: white;
	font-size: 14px;
}
/*header { height: 115px; float: left; z-index: 9999; min-width: 1280px; width: 100%; overflow: hidden; background-color: rgba(83, 60, 143, 0.6); }*/

/*header .logo { float: left; padding-top: 40px;margin-left: 20%}*/

/*header .logo img { display: block; }*/

/*header .menu { float: right;    margin-right: 5%; }*/

/*header .menu li { float: left; margin-left: 50px; color: #a7a7a9; font-size: 12px; line-height: 20px; padding-top: 40px; height: 115px; }*/

/*header .menu span { font-size: 14px; display: block; color: #fff; }*/

/*header .menu a { color: #a7a7a9; display: inline-block; }*/

/*header .menu a:hover { opacity: .8; }*/
