.section33 { padding: 80px 0 60px 0; background-color: #e8e8e8; }

.section33 .list li { float: left; width: 397px; height: 620px; margin-left: 42px; background-color: #1e1e1e; }

.section33 .list li:first-child { margin-left: 0; }

.section33 .list li:hover img { -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

.section33 .list .img { height: 278px; overflow: hidden; }

.section33 .list .img img { display: block; width: 100%; height: 100%; }

.section33 .list .btm { padding: 30px; }

.section33 .list h3 { font-size: 22px; color: #fff; margin-bottom: 20px; }

.section33 .list .txt1 { font-size: 14px; margin-bottom: 15px; color: #fff; }

.section33 .list .txt2 { font-size: 12px; line-height: 22px; color: #6b6b6b; }

.section33 .list .li2 { background-color: #533c8f; }
ul, li, ol { list-style: none; line-height: normal; }

#banner {
    margin-bottom:-10px
}
#carousel {
    position:relative;
    z-index:2;
    margin-top:20px;
    transform-style:preserve-3d;
    perspective:800px
}
#carousel img {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-252px;
    transition:transform .5s ease-in-out;
    box-shadow:8px 8px 20px rgba(0,0,0,.2);
    cursor:pointer
}
#bannerNav {
    position:relative;
    margin-top:20px;
    height:10px;
    padding:10px 0;
    text-align:center;
}
#bannerNav ul li {
    cursor:pointer;
    overflow:hidden;
    display:inline-block;
    width:22px;
    margin:0 2px
}
#bannerNav ul li a {
    margin:0 auto;
    display:block;
    width:6px;
    height:6px;
    vertical-align:top;
    border-radius:3px;
    background:#5e6671;
    font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
    background:#00aeff
}
#bannerNav ul li.on a {
    width:20px
}

#carousel {
    height:400px
}
#carousel img {
    width:500px;
    border-radius: 10px;
    opacity: 0;
}
.video_div{
    width: 100%;
    height: 794px;
    margin-top: 5%;
    background: white;
    margin-bottom: 36px;
    letter-spacing: 3px;
    line-height: 27px;
}
.video_div .video-bg{
    width: 64%;
    float: left;
}
.video_text{
    width: 348px;
    float: left;
    height: 344px;
    color: gray;
    font-family: 幼圆;
    margin: 116px 23px 0px 89px;
}
.video_text_one{
    width: 348px;
    float: left;
    height: 200px;
    color: gray;
    /* margin-left: 49px; */
    font-family: 幼圆;
    margin: 43px 0px 0px 184px;
}
.ppjm-1 div{
	width: 350px;
	height: 220px;
	background: #4F4287;
	float: left;
	border-radius: 20px;
}
.ppjm-1 div div{
	width: 100%;
	height: 65px;
	text-align: center;
	font-weight: bolder;
	color: #FBCB3F;
	line-height: 95px;
}
.ppjm-1 div p{
	margin-top:80px;
	width: 80%;
	margin-left: 10%;
	height: 125px;
	text-align: center;
	font-weight: bolder;
	color: white;
	font-size: 14px;
}
table{
    /*相邻边框被合并*/
    border-collapse:collapse;
    width: 400px;
    height: 326px;
    margin: 0 auto;
    text-align: center;
    color: gray;
}
td{
    width:100px;
}
tr{
    width: 200px;
}
.section31 { padding: 112px 0;}

.section31 .list li { float: left; width: 218px; height: 523px; background-color: #fff; -webkit-box-shadow: 0 0 15px 0 #d5d5d5; box-shadow: 0 0 15px 0 #d5d5d5; margin-left: 47.2px; padding: 50px 10px 10px 10px; }

.section31 .list li:first-child { margin-left: 0; }

.section31 .list li:hover { background-color: #1e1e1e; }

.section31 .list li:hover .img { background-color: #533c8f; }

.section31 .list li:hover .title { color: #fff; }

.section31 .list .img { width: 86px; height: 86px; border-radius: 100%; background-color: #1e1e1e; margin: 0 auto; display: block; }

.section31 .list .title { font-size: 14px; text-align: center; line-height: 18px; overflow: hidden; margin-top: 40px; height: 60px; }

.section31 .list .txt { font-size: 12px; color: #959595; text-align: center; line-height: 22px; }

.section31 .list .txt p { text-align: center; }

.g-title { position: relative; padding-bottom: 36px; margin-bottom: 70px; }

.g-title h2 { font-size: 42px; height: 34px; }

.g-title span { font-size: 16px; margin-left: 10px; position: relative; top: -2px; }

.g-title:after { content: ""; width: 40px; height: 7px; background-color: #533c8f; position: absolute; left: 0; bottom: 0; }
