.oy-body-1{
	width: 100%;
	height: 852px;
	margin-top: 2px;
}
.oy-body-1 { width:1980px;  }
@media screen and (max-width: 1000px)
{
.oy-body-1 { width:1280px; }
}
.oy-body-2{
	width: 1280px;
	height: 200px;
	margin-top: 2px;
}
.oy-body-2 div{
	border-radius: 10px;
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	margin-left: 95px;
	margin-top: 50px;
	font-size: 14px;
	background: #523d958a;
}
.oy-body-2 div:hover{
	background:#523d95;	
}
.oy-body-2 div a{
	text-decoration: none;
	font-size: 28px;
	font-weight: bolder;
	color: white;
}
.oy-body-2 div:hover{
	cursor: pointer;
}
.oy-body-3{
	width: 1280px;
	height: 650px;
	margin-top: 2px;
}
.oy-body-3 div{
	width: 1280px;
	text-align: left;
	font-size: 14px;
	color: rgb(171, 171, 171);
}
.oy-body-4{
	width: 1280px;
	height: 80px;
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
}
.oy-body-5{
	width: 1280px;
	height: 100px;
	text-align: center;
	margin-top: 80px;
}
.oy-body-5 span span{
	margin-left: 25px;
}
.oy-body-6 div{
	float: left;
	width: 15%;
	height: 100%;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}