body div{
	margin:0 auto;
}
body{
	font-family: 微软雅黑 !important;
}
#app { width:100%;  }
@media screen and (max-width: 1000px)
{
#app { width:1480px; }
}
.oy-head{
	height: 115px;
	background-color: #523d95;
}
.oy-head { width:100%;  }
@media screen and (max-width: 1000px)
{
.oy-head { width:1480px; }
}

.oy-head-1{
	width:1280px;
	height: 115px;
}
.oy-head-ul{
	float: right;
	margin-right: 20px;
	height: 30px;
}
.oy-head-ul li{
	list-style: none;
	float: right;
	margin-left:40px;
}
.oy-head-ul li a{
	text-decoration: none;
	font-size: 16px;
	color: white;
	line-height: 60px!important;
}

.oy-head-5{
	float: left;
	width: 360px;
	height: 115px;
}
.oy-tail-1{
	height: 290px;
	background: #523d95;
	margin-top: 50px;
}

.oy-tail-1 { width:100%;  }
@media screen and (max-width: 1000px)
{
.oy-tail-1 { width:1480px; }
}

.oy-tail-2{
	width: 1280px;
	height: 170px;
}
.oy-tail-2 div{
	width: 125px;
	height: 125px;
	float: left;
	margin-left: 155px;
	margin-top: 15px;
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 12px;
}
.oy-tail-4{
	background-image: url(https://res.facebodyfitness.com/onlinevideo/img/logo2.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.oy-tail-3{
	width: 100%;
	height: 30px;
	text-align: center;
	color: white;
	margin-top:10px;
	font-size: 14px;
}