.oy-body-1{
	width: 100%;
	height: 800px;
	margin-top: 2px;
}
.oy-body-1 { width:100%;  }
@media screen and (max-width: 1000px)
{
.oy-body-1 { width:1400px; }
}
.oy-body-2{
	width: 1400px;
	height: 200px;
	margin-top: 2px;
}
.oy-body-2 div{
	border-radius: 5px;
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	margin-left: 120px;
	margin-top: 50px;
	font-size: 14px;
}
.oy-body-2 div:hover{
	cursor: pointer;
}
.oy-body-3{
	width: 1400px;
	height: 600px;
	margin-top: 2px;
}
.oy-body-3 div{
	width: 1400px;
	height: 300px;
	text-align: left;
	font-size: 20px;
	color: #5B5959;
	
}
.oy-body-4{
	width: 1400px;
	height: 80px;
	margin-top: 130px;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
}
.oy-body-5{
	width: 1400px;
	height: 100px;
	text-align: center;
	margin-top: 60px;
}
.oy-body-5 span span{
	margin-left: 25px;
}
.oy-body-6 div{
	float: left;
	width: 15%;
	height: 100%;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}