
.oy-lx-1{
	width: 1280px;
	height: 300px;
	text-align: center;
}
.oy-lx-1 div{
	width: 50%;
	height: 150px;
	font-size: 20px;
	float: left;
}
.oy-lx-2{
	width: 1920px;
	height: 852px;
	background-image: url(https://res.facebodyfitness.com/onlinevideo/img/lxwm.jpg);
	background-size: 100% 100%;
	margin-top: 2px;
}
.oy-lx-2 { width: 1980px }
@media screen and (max-width: 1000px)
{
.oy-lx-2 { width:1280px; }
}
.oy-lx-3 { height:0px;  }
@media screen and (max-width: 1000px)
{
.oy-lx-3 { height:1200px; }
}