
.oy-lx-1{
	width: 1400px;
	height: 300px;
	text-align: center;
}
.oy-lx-1 div{
	width: 50%;
	height: 150px;
	font-size: 20px;
	float: left;
}
.oy-lx-2{
	width: 1400px;
	height: 500px;
	background-image: url(../image/facebody.jpg);
	background-size: 100% 100%;
	margin-top: 2px;
}
.oy-lx-3 { height:0px;  }
@media screen and (max-width: 1000px)
{
.oy-lx-3 { height:1200px; }
}