.oy-tsn-1{
	width:1280px;
	height:852px;
	margin-top: 2px;
}

.oy-tsn-1 { width: 1920px  }
@media screen and (min-width: 2040px) { 
.oy-tsn-1 { width:2040px; }
}

.oy-tsn-1 { width: 1980px;  }
@media screen and (max-width: 1000px)
{
.oy-tsn-1 { width:1280px; }
}
.oy-tsn-2{
	width: 1280px;
	height: 750px;
	margin-top: 50px;
}
.oy-tsn-2 div{
	height: 250px;
	float: left;
}
.oy-tsn-3{
	width: 1280px;
	height: 400px;
	margin-top: 50px;
}
.oy-tsn-3 div{
	height: 400px;
	float: left;
	overflow:hidden;
}
.oy-tsn-3 img:hover{
	transform:scale3d(1.2, 1.2, 1);
}
.oy-tsn-3 img{
	width: 25%;
	height: 400px;
	float: left;
	transition:all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.oy-tsn-3 div:hover{
	background: #878383;
	color: white!important;
}