.oy-tsn-1{
	width:1400px;
	height: 500px;
	background-image: url(../image/facebody.jpg);
	background-size: 100% 100%;
	margin-top: 2px;
}
.oy-tsn-2{
	width: 1400px;
	height: 750px;
	margin-top: 5px;
}
.oy-tsn-2 div{
	height: 250px;
	float: left;
}
.oy-tsn-3{
	width: 1400px;
	height: 1200px;
	margin-top: 20px;
}
.oy-tsn-3 div{
	height: 400px;
	float: left;
	overflow:hidden;
}
.oy-tsn-3 img:hover{
	transform:scale3d(1.2, 1.2, 1);
}
.oy-tsn-3 img{
	width: 100%;
	height: 400px;
	transition:all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.oy-tsn-3 div:hover{
	background: #878383;
}